#card{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.titulo-colecao{
    color: #333;
    text-shadow: 0 0 3px #9e319e;
    font-size: 22px;
}

.img-cripto{
    width: 20px;
    height: 20px;
}

.colecao-titulo{
    color: #333;
    text-shadow: 0 0 2px #9e319e;
    text-align: center;
    font-size:32px ;
    padding: 10px;
    letter-spacing: 0.6px;
    transition: 0.5s;
}

.colecao-titulo:hover{
    text-shadow: 0 0 5px #9e319e;
    transform: translateY(2px);
    letter-spacing: 1.2px;
}

.colecao-img{
    padding: 0 !important;
    border: none !important;
    border-radius: 40% !important;  
    margin: 5px;
    box-shadow: 0 0 10px #111;
    transition: .6S;
}

.card-body:hover > .colecao-img{
    border-radius: 0 !important;
}