* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    
}

/* background */

/* Barra de navegação*/

.menu-h {
    display: flex;
    background-color: #666;
    size: auto;
    position: relative;

}


.menu-h li  {
    display: inline-block;
    top: 0;
    list-style: none;
    padding-left: 20px;
    padding-right: 20px;
    transition: background 0.4s;
    
    
}
.menu-h li:hover{
    background-color: #141414;
}

.menu-h li a{
    list-style: none;
    text-decoration: none;
    color:#27bb60;
}

.link-header{
    padding: 2%;
}

.menu-h li:last-child {
    display: block;
    margin-left: auto;
    
}

.menu-h li:last-child:hover {
    background-color: #a7a3a3;
}

#user-icon {
    width: 60px;
    height: 60px;
    
}
#icon {
    width: 70px;
    height: 70px;
}

/* Parte das categorias*/

.buttons {
    display:flex;
    justify-content: center;
}

.buttons a {
    padding: 10px;
    border-radius: 10%;
    margin: 10px;
    font-size:23px;
    background-color: #4b4949;
    color: #27bb60;
    text-decoration:none;
    font-weight: 700;

}

/* footer*/

.footer-container{
    display: flex;
    position: absolute;
    bottom: 0;
    
}

.footer-container div{
    bottom: 0;
    margin-top: auto;
}

.contato {
    display: flex;
    justify-content: flex-end;
    margin-left: auto;
}